{% extends 'base.html' %}
{% block title %}HOME{% endblock %}

{% block extra_css %}
<style>

.pgs{
    border: 10px solid red;
    display: flex;
    justify-content: left;

    flex-wrap: wrap;
}
</style>

{% endblock extra_css %}


{% block content %}
<h1>your PGS:</h1>
<div class="pgs">
{% for pg in pgs %}
    
   
 <div><b>PGname</b>:{{pg.pgname}}</div>
    <!-- <p><b>PG owner name </b>:{{pg.ownername}}</p><br> -->
    
{% endfor %}
</div>
{% endblock content %}

{% block extra_js %}

 {% endblock extra_js %}
