{% extends 'base.html' %}
{% block title %}HOME{% endblock %}

{% block extra_css %}{% endblock extra_css %}
{% block content %}



<div class="container mt-5 mb-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">PG Information Form</h3>
        </div>
        <div class="card-body">
    <form method="post" enctype="multipart/form-data" id="myform">


    {% csrf_token %}

    {% if errors %}
        <ul class="text-danger">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h5 class="mb-4">PG Information</h5>
    {% for field in form %}
        <div class="mb-3">
            <label class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="text-danger small">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <h5 class="mt-4 mb-3">Upload Your PG Images</h5>
    {% for field in image_form %}
        <div class="mb-3">
            <label class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="text-danger small">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-success">Submit</button>
</form>

        </div>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
<script>

    const fields=document.querySelectorAll('.vacancy2, .vacancy3, .vacancy4, .vacancy, .fees2, .fees3, .fees4, .fees');

    window.onload=function(){
        fields.forEach(field=>{
            field.disabled=false
        })
    }
   let two_sharing=document.getElementsByClassName('two_sharing')[0]
   let vacancy2=document.getElementsByClassName('vacancy2')[0]
   let fees2=document.getElementsByClassName('fees2')[0]

   let three_sharing=document.getElementsByClassName('three_sharing')[0]
    let vacancy3=document.getElementsByClassName('vacancy3')[0]
   let fees3=document.getElementsByClassName('fees3')[0]

   let four_sharing=document.getElementsByClassName('four_sharing')[0]
   let vacancy4=document.getElementsByClassName('vacancy4')[0]
   let fees4=document.getElementsByClassName('fees4')[0]


   let other_sharing=document.getElementsByClassName('other_sharing')[0]
   let vacancy=document.getElementsByClassName('vacancy')[0]
   let fees=document.getElementsByClassName('fees')[0]
   
   two_sharing.addEventListener("change",()=>{
    if (two_sharing.checked){
        vacancy2.disabled=false;
        vacancy2.required=true;
        

        fees2.disabled=false;
        fees2.required=true;
    }else{
        vacancy2.disabled=true;
        vacancy2.required=false;
        vacancy2.value="";
        

        fees2.disabled=true;
        fees2.required=false;
        fees2.value="";
    }
   })

   three_sharing.addEventListener("change",()=>{
    if (three_sharing.checked){
        vacancy3.disabled=false;
        vacancy3.required=true;
        

        fees3.disabled=false;
        fees3.required=true;
    }else{
        vacancy3.disabled=true;
        vacancy3.required=false;
        vacancy3.value="";
        

        fees3.disabled=true;
        fees3.required=false;
        fees3.value="";
    }
   })

   four_sharing.addEventListener("change",()=>{
    if (four_sharing.checked){
        vacancy4.disabled=false;
        vacancy4.required=true;
        

        fees4.disabled=false;
        fees4.required=true;
    }else{
        vacancy4.disabled=true;
        vacancy4.required=false;
        vacancy4.value="";
        

        fees4.disabled=true;
        fees4.required=false;
        fees4.value="";
    }
   })

   other_sharing.addEventListener("change",()=>{
    if (other_sharing.checked){
        vacancy.disabled=false;
        vacancy.required=true;
        

        fees.disabled=false;
        fees.required=true;
    }else{
        vacancy.disabled=true;
        vacancy.required=false;
        vacancy.value="";
        

        fees.disabled=true;
        fees.required=false;
        fees.value="";
    }
   })
   
   document.getElementById('myform').addEventListener('submit',(event)=>{
    if(!(two_sharing.checked || three_sharing.checked|| four_sharing.checked || other_sharing.checked)){
        event.preventDefault();
        alert("please select any one of the sharing option.")
    }

   })
   

</script>
 {% endblock extra_js %}






